nodered/flows.json
[
    {
        "id": "eb3d4ff97cb92c18",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41934146e6c64919",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Modbus2MQTT connection status  #################################################################################################################################",
        "info": "",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "6fa6f7c2dc04aaf2",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/status/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "a62c0f29df1e96f7"
            ]
        ]
    },
    {
        "id": "d1e4026b7e0cb51d",
        "type": "debug",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "59bb1862c9122b17",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Measurements ########################################################################################################################################################################################################################################################################################################################################################################",
        "info": "",
        "x": 1470,
        "y": 680,
        "wires": []
    },
    {
        "id": "22862039f01febda",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Temperature",
        "info": "",
        "x": 1190,
        "y": 740,
        "wires": []
    },
    {
        "id": "9990cac7201952cb",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/frequency",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1660,
        "y": 220,
        "wires": [
            [
                "2413a98156510631"
            ]
        ]
    },
    {
        "id": "e1202d1b12ce5528",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/voltage/an",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "7b1e91066039e153"
            ]
        ]
    },
    {
        "id": "39574646c66d7027",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/current/a",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1330,
        "y": 1200,
        "wires": [
            [
                "a5961c8024114c0f"
            ]
        ]
    },
    {
        "id": "7a37a1e65579bb3b",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/temperature/housing",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1370,
        "y": 980,
        "wires": [
            [
                "22b58386844c97f6"
            ]
        ]
    },
    {
        "id": "159610e2665df035",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Voltage THD",
        "info": "",
        "x": 2330,
        "y": 740,
        "wires": []
    },
    {
        "id": "f12e2d10542faae1",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Voltage",
        "info": "",
        "x": 90,
        "y": 740,
        "wires": []
    },
    {
        "id": "eaa6fe0cddb27020",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Current",
        "info": "",
        "x": 1160,
        "y": 1140,
        "wires": []
    },
    {
        "id": "95d48ebc5b638ea8",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Power",
        "info": "",
        "x": 90,
        "y": 1320,
        "wires": []
    },
    {
        "id": "46ad6726787c2889",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/voltage/bn",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "39400cc83d565b62"
            ]
        ]
    },
    {
        "id": "6707067e7ef47028",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/voltage/cn",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 920,
        "wires": [
            [
                "861ac23a678f6afb"
            ]
        ]
    },
    {
        "id": "bf7d96187927e130",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/voltage/ab",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1040,
        "wires": [
            [
                "579c2172c28b5d92"
            ]
        ]
    },
    {
        "id": "5724d6cefdcde9b8",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/voltage/bc",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1100,
        "wires": [
            [
                "a8ebf937d35f32be"
            ]
        ]
    },
    {
        "id": "6e5541ece03a1ad4",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/voltage/ca",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1160,
        "wires": [
            [
                "3d968787512f3f40"
            ]
        ]
    },
    {
        "id": "8841976c558860af",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/current/b",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1330,
        "y": 1260,
        "wires": [
            [
                "e96dc3f5949f2d7e"
            ]
        ]
    },
    {
        "id": "675cd93ddae677bf",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/current/c",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1330,
        "y": 1320,
        "wires": [
            [
                "a98c88646a176e81"
            ]
        ]
    },
    {
        "id": "6c8c432faebe5289",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/voltage/an",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 800,
        "wires": [
            [
                "5cc769506c7837a2",
                "4d29ed81737b9b3f"
            ]
        ]
    },
    {
        "id": "83e4fbaf06a71818",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/voltage/bn",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 860,
        "wires": [
            [
                "859fb28bb76cac63",
                "19971935c0ea8d92"
            ]
        ]
    },
    {
        "id": "d4463d6c4539a61e",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/voltage/cn",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 920,
        "wires": [
            [
                "722acb560a4200d5",
                "565b073b9c82f14a"
            ]
        ]
    },
    {
        "id": "3e4dbf8e8ae7497b",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/voltage/ab",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 980,
        "wires": [
            [
                "4c74d1209a796ef5",
                "7e3cbe032fe326f7"
            ]
        ]
    },
    {
        "id": "8cbd20015d116cea",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/voltage/bc",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 1040,
        "wires": [
            [
                "4fa93ae70f34104d",
                "cd4407ed3e775cdb"
            ]
        ]
    },
    {
        "id": "d05d5fd7db5575a5",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/voltage/ca",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 1100,
        "wires": [
            [
                "2697f3d3637456cf",
                "10ab06df85c9ec7a"
            ]
        ]
    },
    {
        "id": "32cf3d21720329a4",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/power/active/total",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1380,
        "wires": [
            [
                "f9f344321585a346",
                "aff616b99db6d055",
                "79439c8ac85444ee"
            ]
        ]
    },
    {
        "id": "99703da47ab2e7eb",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/power/reactive/total",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1440,
        "wires": [
            [
                "c82592bc01f649ec",
                "90cac037c047c51c",
                "7d42c38479c122c4"
            ]
        ]
    },
    {
        "id": "3834e4e455e05afd",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/power/apparent/total",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1500,
        "wires": [
            [
                "d541a7476d5ccd9b",
                "3cb0d4629c763c11",
                "58a4c3059743077d"
            ]
        ]
    },
    {
        "id": "c00851020eff3446",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/temperature/winding/a",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1380,
        "y": 800,
        "wires": [
            [
                "979e33ce09ae389d"
            ]
        ]
    },
    {
        "id": "695c69b22046e194",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/temperature/winding/b",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1380,
        "y": 860,
        "wires": [
            [
                "04f61818beaa4b42"
            ]
        ]
    },
    {
        "id": "b6bc73e809b11fc1",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/temperature/winding/c",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1380,
        "y": 920,
        "wires": [
            [
                "e77ce69c33358da8"
            ]
        ]
    },
    {
        "id": "0f47273f7a1afe7f",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/motor/status",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1620,
        "y": 160,
        "wires": [
            [
                "caeb26e7bf90b417"
            ]
        ]
    },
    {
        "id": "dbef669b24f585c3",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/starterdriver",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1620,
        "y": 100,
        "wires": [
            [
                "90ba676d2800b2aa"
            ]
        ]
    },
    {
        "id": "90ba676d2800b2aa",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "\nif (msg.payload.Value === '1') {\n    msg.payload='ATS48 Soft-start';\n    \n} else if (msg.payload.Value === '2') {\n    msg.payload='ATV31 Inverter';\n    \n} else if (msg.payload.Value === '3') {\n    msg.payload='Tesys P. Direta';\n    \n} else {\n    msg.payload='Sem seleção';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 100,
        "wires": [
            [
                "6703c08ff27b2354"
            ]
        ]
    },
    {
        "id": "caeb26e7bf90b417",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "\nif (msg.payload.Value === '1') {\n    msg.payload=('ON');\n   \n} else if (msg.payload.Value === '0') {\n    msg.payload=('OFF');\n    \n} else {\n    msg.payload('-');\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 160,
        "wires": [
            [
                "e87b7ec1efddabc9"
            ]
        ]
    },
    {
        "id": "a62c0f29df1e96f7",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "let data = new Date(msg.payload.Timestamp);\nmsg.payload.Message = (((msg.payload.Message).slice(0, -1))+\" at \"+((data.toString().split(' '))[4]));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "d1e4026b7e0cb51d",
                "7a7e56d96f0e7f39"
            ]
        ]
    },
    {
        "id": "394cefeaab9c7601",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Conveyor Belt status ###################################################################################################################################################",
        "info": "",
        "x": 2110,
        "y": 40,
        "wires": []
    },
    {
        "id": "355c9182233ede22",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/encoder",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1650,
        "y": 280,
        "wires": [
            [
                "6c4194244820cd74"
            ]
        ]
    },
    {
        "id": "eba5a7bd5fd7fbe2",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/current/n",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1330,
        "y": 1380,
        "wires": [
            [
                "79eb335fab6864c7"
            ]
        ]
    },
    {
        "id": "d85c474efd5fb2e1",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/current/avg",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1340,
        "y": 1440,
        "wires": [
            [
                "33deb1712125a059"
            ]
        ]
    },
    {
        "id": "77f6c4e20490e000",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/current/a",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 1260,
        "wires": [
            [
                "4e53a7291a404e28",
                "fcf0793295e0a3c5"
            ]
        ]
    },
    {
        "id": "1196972dd948a7f7",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/current/b",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 1320,
        "wires": [
            [
                "e8f7efd3a55701c9",
                "5acf292e51cd8132"
            ]
        ]
    },
    {
        "id": "6c8612ece056bc0a",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/current/c",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 1380,
        "wires": [
            [
                "ef1ea2b9dafb96b8",
                "b1cd8e3b9c8f7be9"
            ]
        ]
    },
    {
        "id": "25a005c9d8a056ab",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/thd/current/n",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2490,
        "y": 1440,
        "wires": [
            [
                "2d643f514a855b5b",
                "0db7ea26c1a94817"
            ]
        ]
    },
    {
        "id": "f748dd8e6e182da1",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "Current THD",
        "info": "",
        "x": 2330,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6c4194244820cd74",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 280,
        "wires": [
            [
                "77be708e64a319f8"
            ]
        ]
    },
    {
        "id": "7b1e91066039e153",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 800,
        "wires": [
            [
                "3d8cec6a072a5806",
                "f0ab10543d70e660",
                "99c76bd5805e7002"
            ]
        ]
    },
    {
        "id": "39400cc83d565b62",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 860,
        "wires": [
            [
                "2b63dd42f2e486b7",
                "c3ac1279d7221460",
                "e39d731e7311d133"
            ]
        ]
    },
    {
        "id": "861ac23a678f6afb",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 920,
        "wires": [
            [
                "c45f5fa8fb4b4b25",
                "dd04749d9775fcfa",
                "a4f868404ebb7e18"
            ]
        ]
    },
    {
        "id": "579c2172c28b5d92",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "eb019df45720f9d9",
                "eaaf5b71257168dc",
                "f9620dc2907fac3b",
                "db2f0b15a384661b"
            ]
        ]
    },
    {
        "id": "a8ebf937d35f32be",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "f2b07726e4d5fc27",
                "458fb7d6d26f58c7",
                "d5478f529b3df6c5",
                "81b7680dcae02d39"
            ]
        ]
    },
    {
        "id": "3d968787512f3f40",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1160,
        "wires": [
            [
                "2ad7c813dc7141ac",
                "79a20aba4449298a",
                "97215c80aa80f0b1",
                "cd338ba1dc9279af"
            ]
        ]
    },
    {
        "id": "8967d663d37c61ad",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 340,
        "wires": [
            [
                "beadaecfb6964f60"
            ]
        ]
    },
    {
        "id": "a5961c8024114c0f",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1200,
        "wires": [
            [
                "ab4d7d13cb4d3280",
                "0e3c5ddc6dd5e3a7",
                "19f5ce6091913e9a",
                "f01ebf4081653b3f"
            ]
        ]
    },
    {
        "id": "e96dc3f5949f2d7e",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1260,
        "wires": [
            [
                "73ce3049f9d7acbc",
                "19e93e372c237465",
                "0e0d5af6516a062f",
                "6ec91060c5c51406"
            ]
        ]
    },
    {
        "id": "a98c88646a176e81",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1320,
        "wires": [
            [
                "bac63b8f45a9a8f8",
                "97d8b5dc123ab31c",
                "fb12893bd80bfd19",
                "cab1516e7e6eb8ba"
            ]
        ]
    },
    {
        "id": "79eb335fab6864c7",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1380,
        "wires": [
            [
                "164b3b24da07dc2c",
                "49105a35222cc52d",
                "ea2982db6e5e9214"
            ]
        ]
    },
    {
        "id": "33deb1712125a059",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1440,
        "wires": [
            [
                "b44f48b47067cdc5",
                "5882dec94e425c36",
                "7535c1789cb83fef"
            ]
        ]
    },
    {
        "id": "979e33ce09ae389d",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nmsg.payload.Unity = msg.payload.Unity.slice(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 800,
        "wires": [
            [
                "fe6bca2e18b68151",
                "4277eeb114ad55c3",
                "2d173d854a9b3149"
            ]
        ]
    },
    {
        "id": "04f61818beaa4b42",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nmsg.payload.Unity = msg.payload.Unity.slice(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 860,
        "wires": [
            [
                "deaeb8a15f29c9a2",
                "e6707db5485aaa7a",
                "801d77ba960b2bf3"
            ]
        ]
    },
    {
        "id": "e77ce69c33358da8",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nmsg.payload.Unity = msg.payload.Unity.slice(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 920,
        "wires": [
            [
                "20b9b24f06df8012",
                "46847cab1588f058",
                "2b2a9c07baa4db05"
            ]
        ]
    },
    {
        "id": "22b58386844c97f6",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nmsg.payload.Unity = msg.payload.Unity.slice(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 980,
        "wires": [
            [
                "13113dd240706ccf",
                "0f92eef8fd4cc417",
                "7c239fd476be8214"
            ]
        ]
    },
    {
        "id": "2413a98156510631",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload.Value)/0.8;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 220,
        "wires": [
            [
                "e4a73656ea64e68c"
            ]
        ]
    },
    {
        "id": "43947ab3ba822bf6",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/voltage/nr",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 980,
        "wires": [
            [
                "5b38d33f26ec51c3"
            ]
        ]
    },
    {
        "id": "5b38d33f26ec51c3",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.payload.Value = parseFloat(msg.payload.Value)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 980,
        "wires": [
            [
                "fd6b18c67c2b9b3e",
                "e5a9a21916bd758e",
                "5095cfa43ea540bc"
            ]
        ]
    },
    {
        "id": "6a047a59a02949f0",
        "type": "comment",
        "z": "eb3d4ff97cb92c18",
        "name": "System description #############################################################################################################################################",
        "info": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "d88a6b6b646e0b59",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/system_description",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "120f529b77372c19",
                "5dd4697dc8ea2ddc",
                "6e5f9ecb458b5581",
                "231ece345ad1bfee",
                "34109413c558ae56",
                "dd6ec82b4f6f1429",
                "6f493277ae681a29",
                "7f56477c97766f1d",
                "ecb7304078945b90",
                "d98d35854be47fd4"
            ]
        ]
    },
    {
        "id": "19f5ce6091913e9a",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Phase A';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1500,
        "wires": [
            [
                "614904b7be377b5d"
            ]
        ]
    },
    {
        "id": "0e0d5af6516a062f",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Phase B';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1540,
        "wires": [
            [
                "614904b7be377b5d"
            ]
        ]
    },
    {
        "id": "fb12893bd80bfd19",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Phase C';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1580,
        "wires": [
            [
                "614904b7be377b5d"
            ]
        ]
    },
    {
        "id": "f9620dc2907fac3b",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Voltage AB';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1220,
        "wires": [
            [
                "f81a83e08af9db21"
            ]
        ]
    },
    {
        "id": "d5478f529b3df6c5",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Voltage BC';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1260,
        "wires": [
            [
                "f81a83e08af9db21"
            ]
        ]
    },
    {
        "id": "97215c80aa80f0b1",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Voltage CA';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1300,
        "wires": [
            [
                "f81a83e08af9db21"
            ]
        ]
    },
    {
        "id": "4277eeb114ad55c3",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Winding A';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1040,
        "wires": [
            [
                "0b87f62ba636e44c"
            ]
        ]
    },
    {
        "id": "e6707db5485aaa7a",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Winding B';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1080,
        "wires": [
            [
                "0b87f62ba636e44c"
            ]
        ]
    },
    {
        "id": "46847cab1588f058",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Winding C';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1040,
        "wires": [
            [
                "0b87f62ba636e44c"
            ]
        ]
    },
    {
        "id": "0f92eef8fd4cc417",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "msg.topic = 'Housing';\nmsg.payload = msg.payload.Value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1080,
        "wires": [
            [
                "0b87f62ba636e44c"
            ]
        ]
    },
    {
        "id": "8e65274feabb7ce1",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/frequency",
        "qos": "1",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1660,
        "y": 340,
        "wires": [
            [
                "8967d663d37c61ad"
            ]
        ]
    },
    {
        "id": "3d8cec6a072a5806",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "b9920397aa068853",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "A-N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 800,
        "wires": []
    },
    {
        "id": "2b63dd42f2e486b7",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "b9920397aa068853",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "B-N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-right",
        "className": "",
        "x": 760,
        "y": 860,
        "wires": []
    },
    {
        "id": "c45f5fa8fb4b4b25",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "b9920397aa068853",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "C-N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-left",
        "className": "",
        "x": 760,
        "y": 920,
        "wires": []
    },
    {
        "id": "eb019df45720f9d9",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "b9920397aa068853",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AB:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-center",
        "className": "",
        "x": 760,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f2b07726e4d5fc27",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "b9920397aa068853",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BC:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-center",
        "className": "",
        "x": 760,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2ad7c813dc7141ac",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "b9920397aa068853",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BC:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-center",
        "className": "",
        "x": 760,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ab4d7d13cb4d3280",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "ceada8329555a20c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase A:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1850,
        "y": 1200,
        "wires": []
    },
    {
        "id": "73ce3049f9d7acbc",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "ceada8329555a20c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase B:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1850,
        "y": 1260,
        "wires": []
    },
    {
        "id": "bac63b8f45a9a8f8",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "ceada8329555a20c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase C:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1850,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f9f344321585a346",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "83a435430ad72ac9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Active:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 1380,
        "wires": []
    },
    {
        "id": "c82592bc01f649ec",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "83a435430ad72ac9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reac.:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d541a7476d5ccd9b",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "83a435430ad72ac9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Appa.:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 1500,
        "wires": []
    },
    {
        "id": "7aae5031a46314fc",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "83a435430ad72ac9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "P.F.:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 1560,
        "wires": []
    },
    {
        "id": "5cc769506c7837a2",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage AN:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 800,
        "wires": []
    },
    {
        "id": "859fb28bb76cac63",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage BN:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 860,
        "wires": []
    },
    {
        "id": "722acb560a4200d5",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage CN:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 920,
        "wires": []
    },
    {
        "id": "4c74d1209a796ef5",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage AB:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 980,
        "wires": []
    },
    {
        "id": "4fa93ae70f34104d",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage BC:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2697f3d3637456cf",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage CA:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fe6bca2e18b68151",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 3,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Winding A:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1970,
        "y": 800,
        "wires": []
    },
    {
        "id": "deaeb8a15f29c9a2",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Winding B:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1970,
        "y": 860,
        "wires": []
    },
    {
        "id": "20b9b24f06df8012",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 11,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Winding C:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1970,
        "y": 920,
        "wires": []
    },
    {
        "id": "13113dd240706ccf",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 15,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Housing:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1960,
        "y": 980,
        "wires": []
    },
    {
        "id": "7a7e56d96f0e7f39",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "2df12f5998b55267",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Client status:",
        "format": "{{msg.payload.Message}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "6703c08ff27b2354",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "0f3081994a6cb06c",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Motor Starter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2440,
        "y": 100,
        "wires": []
    },
    {
        "id": "e87b7ec1efddabc9",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "0f3081994a6cb06c",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Motor status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2430,
        "y": 160,
        "wires": []
    },
    {
        "id": "f0ab10543d70e660",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Voltage A-N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 800,
        "wires": []
    },
    {
        "id": "c3ac1279d7221460",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Voltage B-N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 860,
        "wires": []
    },
    {
        "id": "dd04749d9775fcfa",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 18,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Voltage C-N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 920,
        "wires": []
    },
    {
        "id": "eaaf5b71257168dc",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Voltage AB:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 1040,
        "wires": []
    },
    {
        "id": "458fb7d6d26f58c7",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Voltage BC:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 1100,
        "wires": []
    },
    {
        "id": "79a20aba4449298a",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 22,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Voltage BC:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0e3c5ddc6dd5e3a7",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Current A:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2050,
        "y": 1200,
        "wires": []
    },
    {
        "id": "19e93e372c237465",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Current B:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2060,
        "y": 1260,
        "wires": []
    },
    {
        "id": "97d8b5dc123ab31c",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 18,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Current C:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2060,
        "y": 1320,
        "wires": []
    },
    {
        "id": "164b3b24da07dc2c",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "ceada8329555a20c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1850,
        "y": 1380,
        "wires": []
    },
    {
        "id": "b44f48b47067cdc5",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "ceada8329555a20c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1850,
        "y": 1440,
        "wires": []
    },
    {
        "id": "49105a35222cc52d",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Current N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2060,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5882dec94e425c36",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Current AVG:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2060,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4e53a7291a404e28",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current AN:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e8f7efd3a55701c9",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current BN:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ef1ea2b9dafb96b8",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current CN:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 1380,
        "wires": []
    },
    {
        "id": "2d643f514a855b5b",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current N:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 2840,
        "y": 1440,
        "wires": []
    },
    {
        "id": "fd6b18c67c2b9b3e",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "b9920397aa068853",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "N-R:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-right",
        "className": "",
        "x": 760,
        "y": 980,
        "wires": []
    },
    {
        "id": "e5a9a21916bd758e",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 26,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Voltage N-R:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 980,
        "wires": []
    },
    {
        "id": "aff616b99db6d055",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Active:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 1380,
        "wires": []
    },
    {
        "id": "90cac037c047c51c",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Reac.:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3cb0d4629c763c11",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Appa.:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 1500,
        "wires": []
    },
    {
        "id": "7c07eb3e0b0bfeb3",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "P.F.:  ",
        "format": "{{msg.payload.Value}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 1560,
        "wires": []
    },
    {
        "id": "120f529b77372c19",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 2,
        "width": 16,
        "height": 1,
        "name": "",
        "label": "System:",
        "format": "{{msg.payload.System}}",
        "layout": "row-left",
        "className": "",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "5dd4697dc8ea2ddc",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 4,
        "width": 16,
        "height": 1,
        "name": "",
        "label": "Motor:",
        "format": "{{msg.payload.Motor}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "6e5f9ecb458b5581",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Model:",
        "format": "{{msg.payload.Model}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "231ece345ad1bfee",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 10,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Type:",
        "format": "{{msg.payload.Type}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "34109413c558ae56",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 14,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Protection:",
        "format": "{{msg.payload.Protection}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "dd6ec82b4f6f1429",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 8,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Rated Power:",
        "format": "{{msg.payload.RatedPower}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "6f493277ae681a29",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 16,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Rated Voltages:",
        "format": "{{msg.payload.RatedVoltages}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "7f56477c97766f1d",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 12,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Rated Currents:",
        "format": "{{msg.payload.RatedCurrents}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "ecb7304078945b90",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 18,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nominal Frequency:",
        "format": "{{msg.payload.NominalFrequency}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 600,
        "wires": []
    },
    {
        "id": "d98d35854be47fd4",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "9a222a2f439c8a5f",
        "order": 20,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Rated Rotation Speed:",
        "format": "{{msg.payload.RatedRotationSpeed}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "99c76bd5805e7002",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 1035,
        "y": 800,
        "wires": [],
        "l": false
    },
    {
        "id": "e39d731e7311d133",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 12,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 1035,
        "y": 860,
        "wires": [],
        "l": false
    },
    {
        "id": "a4f868404ebb7e18",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 20,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 1035,
        "y": 920,
        "wires": [],
        "l": false
    },
    {
        "id": "5095cfa43ea540bc",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 28,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 1035,
        "y": 980,
        "wires": [],
        "l": false
    },
    {
        "id": "db2f0b15a384661b",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 1035,
        "y": 1040,
        "wires": [],
        "l": false
    },
    {
        "id": "81b7680dcae02d39",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 16,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 1035,
        "y": 1100,
        "wires": [],
        "l": false
    },
    {
        "id": "cd338ba1dc9279af",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "a23e24401630c999",
        "order": 24,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 1035,
        "y": 1160,
        "wires": [],
        "l": false
    },
    {
        "id": "4d29ed81737b9b3f",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "AN",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 800,
        "wires": [],
        "l": false
    },
    {
        "id": "19971935c0ea8d92",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "BN",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 860,
        "wires": [],
        "l": false
    },
    {
        "id": "565b073b9c82f14a",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "CN",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 920,
        "wires": [],
        "l": false
    },
    {
        "id": "7e3cbe032fe326f7",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "AB",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 980,
        "wires": [],
        "l": false
    },
    {
        "id": "cd4407ed3e775cdb",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "BC",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 1040,
        "wires": [],
        "l": false
    },
    {
        "id": "10ab06df85c9ec7a",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "CA",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 1100,
        "wires": [],
        "l": false
    },
    {
        "id": "fcf0793295e0a3c5",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 21,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "AN",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 1260,
        "wires": [],
        "l": false
    },
    {
        "id": "5acf292e51cd8132",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 19,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "BN",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 1320,
        "wires": [],
        "l": false
    },
    {
        "id": "0db7ea26c1a94817",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 22,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 1440,
        "wires": [],
        "l": false
    },
    {
        "id": "f01ebf4081653b3f",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2175,
        "y": 1200,
        "wires": [],
        "l": false
    },
    {
        "id": "6ec91060c5c51406",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 12,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2175,
        "y": 1260,
        "wires": [],
        "l": false
    },
    {
        "id": "cab1516e7e6eb8ba",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 20,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2175,
        "y": 1320,
        "wires": [],
        "l": false
    },
    {
        "id": "ea2982db6e5e9214",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2175,
        "y": 1380,
        "wires": [],
        "l": false
    },
    {
        "id": "7535c1789cb83fef",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "145b8aa02825179b",
        "order": 16,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2175,
        "y": 1440,
        "wires": [],
        "l": false
    },
    {
        "id": "79439c8ac85444ee",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 995,
        "y": 1380,
        "wires": [],
        "l": false
    },
    {
        "id": "7d42c38479c122c4",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 12,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 995,
        "y": 1440,
        "wires": [],
        "l": false
    },
    {
        "id": "58a4c3059743077d",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 16,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 995,
        "y": 1500,
        "wires": [],
        "l": false
    },
    {
        "id": "088c16f4f9723c9d",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "791b7498c4f08bbd",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 995,
        "y": 1560,
        "wires": [],
        "l": false
    },
    {
        "id": "2d173d854a9b3149",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2095,
        "y": 800,
        "wires": [],
        "l": false
    },
    {
        "id": "801d77ba960b2bf3",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2095,
        "y": 860,
        "wires": [],
        "l": false
    },
    {
        "id": "2b2a9c07baa4db05",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 12,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2095,
        "y": 920,
        "wires": [],
        "l": false
    },
    {
        "id": "7c239fd476be8214",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "230f1ba8b1d40871",
        "order": 16,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2095,
        "y": 980,
        "wires": [],
        "l": false
    },
    {
        "id": "b1cd8e3b9c8f7be9",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "f9ae5ad2f6592906",
        "order": 19,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "CN",
        "format": "{{msg.payload.Unity}}",
        "layout": "row-spread",
        "className": "",
        "x": 2955,
        "y": 1380,
        "wires": [],
        "l": false
    },
    {
        "id": "77be708e64a319f8",
        "type": "ui_gauge",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "group": "680e6876827615a2",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Motor Speed",
        "label": "RPM",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "4500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3500",
        "seg2": "4200",
        "className": "",
        "x": 2430,
        "y": 280,
        "wires": []
    },
    {
        "id": "beadaecfb6964f60",
        "type": "ui_gauge",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "group": "680e6876827615a2",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Inverter Frequency",
        "label": "Hz",
        "format": "{{msg.payload.Value}}",
        "min": "0",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "60",
        "className": "",
        "x": 2450,
        "y": 340,
        "wires": []
    },
    {
        "id": "e4a73656ea64e68c",
        "type": "ui_chart",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "group": "0f3081994a6cb06c",
        "order": 6,
        "width": 8,
        "height": 5,
        "label": "Conveyor Velocity (m/min)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Wainting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f78b7",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "614904b7be377b5d",
        "type": "ui_chart",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "group": "c1221a6fe29bbc28",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Current (A)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Wainting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2080,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "0b87f62ba636e44c",
        "type": "ui_chart",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "group": "c8a0c2b17c79763c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Wainting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1990,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "f81a83e08af9db21",
        "type": "ui_chart",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "group": "6d2920ed3f08ef61",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Voltage (V)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Wainting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "79d90f628cd7cbd4",
        "type": "mqtt out",
        "z": "eb3d4ff97cb92c18",
        "name": "MQTT status",
        "topic": "mbs2mqtttopics/status",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9240e827b552bb7",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "a34d51a50188f0c8",
        "type": "ui_button",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "group": "2df12f5998b55267",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Test connection",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "connection test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "79d90f628cd7cbd4"
            ]
        ]
    },
    {
        "id": "7f7aae03837b1e1e",
        "type": "ui_switch",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "label": "Motor status",
        "tooltip": "On/Off",
        "group": "680e6876827615a2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "modbus addr 1313 value 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "modbus addr 1313 value 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1510,
        "y": 420,
        "wires": [
            [
                "e440e07086c19cfc"
            ]
        ]
    },
    {
        "id": "e440e07086c19cfc",
        "type": "mqtt out",
        "z": "eb3d4ff97cb92c18",
        "name": "Motor status",
        "topic": "mbs2mqtttopics/conveyorbelt_sub/bool",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9240e827b552bb7",
        "x": 2430,
        "y": 420,
        "wires": []
    },
    {
        "id": "b970328158e8c605",
        "type": "mqtt out",
        "z": "eb3d4ff97cb92c18",
        "name": "SetPoint mqtt",
        "topic": "mbs2mqtttopics/conveyorbelt_sub/uint16",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9240e827b552bb7",
        "x": 2460,
        "y": 480,
        "wires": []
    },
    {
        "id": "219a52a70e9ad040",
        "type": "ui_slider",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "label": "SetPoint",
        "tooltip": "",
        "group": "680e6876827615a2",
        "order": 6,
        "width": 8,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 1500,
        "y": 480,
        "wires": [
            [
                "e89293e4901877ad"
            ]
        ]
    },
    {
        "id": "e89293e4901877ad",
        "type": "function",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "func": "var value = String(msg.payload);\nvar my_str = 'modbus addr 1314 value ' + value;\nmsg.payload = my_str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 480,
        "wires": [
            [
                "b970328158e8c605"
            ]
        ]
    },
    {
        "id": "6a6c52c99b9360d0",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/status/testconn",
        "qos": "0",
        "datatype": "utf8",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "386f2d06f87bb3b4"
            ]
        ]
    },
    {
        "id": "386f2d06f87bb3b4",
        "type": "ui_text",
        "z": "eb3d4ff97cb92c18",
        "group": "2df12f5998b55267",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "0cfbfd6b29beeb5b",
        "type": "inject",
        "z": "eb3d4ff97cb92c18",
        "name": "Clear",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "-----",
        "payloadType": "str",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "386f2d06f87bb3b4"
            ]
        ]
    },
    {
        "id": "d110e97f829bf632",
        "type": "mqtt in",
        "z": "eb3d4ff97cb92c18",
        "name": "",
        "topic": "mbs2mqtttopics/conveyorbelt_pub/measurements/fatorpower/total",
        "qos": "0",
        "datatype": "json",
        "broker": "3d0999d656ebd337",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1560,
        "wires": [
            [
                "7c07eb3e0b0bfeb3",
                "088c16f4f9723c9d"
            ]
        ]
    },
    {
        "id": "3d0999d656ebd337",
        "type": "mqtt-broker",
        "name": "AWSIoTCore Modbus2MQTT",
        "broker": "a13zffjlim5dan-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "b170a8d37bda2bea",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    },
    {
        "id": "b9920397aa068853",
        "type": "ui_group",
        "name": "Tensão",
        "tab": "17b020fd6ddd8258",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ceada8329555a20c",
        "type": "ui_group",
        "name": "Corrente",
        "tab": "17b020fd6ddd8258",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "83a435430ad72ac9",
        "type": "ui_group",
        "name": "Potência",
        "tab": "17b020fd6ddd8258",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9ae5ad2f6592906",
        "type": "ui_group",
        "name": "THD",
        "tab": "17b020fd6ddd8258",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": true,
        "className": ""
    },
    {
        "id": "230f1ba8b1d40871",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "0a9b3f7a26a83151",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2df12f5998b55267",
        "type": "ui_group",
        "name": "Connection Status",
        "tab": "0a9b3f7a26a83151",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f3081994a6cb06c",
        "type": "ui_group",
        "name": "Conveyor Status",
        "tab": "0a9b3f7a26a83151",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a23e24401630c999",
        "type": "ui_group",
        "name": "Voltages",
        "tab": "0a9b3f7a26a83151",
        "order": 6,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "145b8aa02825179b",
        "type": "ui_group",
        "name": "Currents",
        "tab": "0a9b3f7a26a83151",
        "order": 7,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "791b7498c4f08bbd",
        "type": "ui_group",
        "name": "Power",
        "tab": "0a9b3f7a26a83151",
        "order": 11,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9a222a2f439c8a5f",
        "type": "ui_group",
        "name": "Description",
        "tab": "0a9b3f7a26a83151",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "680e6876827615a2",
        "type": "ui_group",
        "name": "Motor",
        "tab": "0a9b3f7a26a83151",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1221a6fe29bbc28",
        "type": "ui_group",
        "name": "Current Graph",
        "tab": "0a9b3f7a26a83151",
        "order": 9,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c8a0c2b17c79763c",
        "type": "ui_group",
        "name": "Temperature Graph",
        "tab": "0a9b3f7a26a83151",
        "order": 10,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6d2920ed3f08ef61",
        "type": "ui_group",
        "name": "Voltage Graph",
        "tab": "0a9b3f7a26a83151",
        "order": 8,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d9240e827b552bb7",
        "type": "mqtt-broker",
        "name": "AWS IoT Core - Mbs2MQTT",
        "broker": "a13zffjlim5dan-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "b170a8d37bda2bea",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b170a8d37bda2bea",
        "type": "tls-config",
        "name": "AWS IoT Core - Modbus2MQTT",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "modbus2mqtt-certificate.pem.crt",
        "keyname": "modbus2mqtt-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": "",
        "credentials": {}
    },
    {
        "id": "17b020fd6ddd8258",
        "type": "ui_tab",
        "name": "Multimedidor ",
        "icon": "fa-th",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0a9b3f7a26a83151",
        "type": "ui_tab",
        "name": "Modbus2MQTT Gateway - Conveyor Belt",
        "icon": "fa-tachometer",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]